<ul>
  {{#each this.cart.items as |item|}}
    <li>
      <Rental @rental={{item}} @inCart={{true}}/>
    </li>
  {{/each}}
</ul>
<button type="button" {{on "click" (fn this.empty )}}>empty cart</button>